@model Circuitos.Models.Volta

@{
    ViewData["Title"] = "Editar Volta";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="VoltaID" />

    <div class="form-group">
        <label asp-for="CarroID" class="control-label"></label>
        <select asp-for="CarroID" class="form-control" asp-items="ViewBag.CarroID"></select>
    </div>

    <div class="form-group">
        <label asp-for="CircuitoID" class="control-label"></label>
        <select asp-for="CircuitoID" class="form-control" asp-items="ViewBag.CircuitoID"></select>
    </div>

    <div class="form-group">
        <label asp-for="Tempo" class="control-label"></label>
        <input asp-for="Tempo" class="form-control" />
        <span asp-validation-for="Tempo" class="text-danger"></span>
    </div>

    

    <button type="submit" class="btn btn-primary">Salvar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>