@model Circuitos.Models.Carro

@{
    ViewData["Title"] = "Cadastrar Carro";
}

<h1>@ViewData["Title"]</h1>

<h4>Carro</h4>
<hr />
@ViewData["Erro"]

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Modelo" class="control-label"></label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Potencia" class="control-label"></label>
                <input asp-for="Potencia" class="form-control" />
                <span asp-validation-for="Potencia" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Peso" class="control-label"></label>
                <input asp-for="Peso" class="form-control" />
                <span asp-validation-for="Peso" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Tracao" class="control-label"></label>
                <input asp-for="Tracao" class="form-control" />
                <span asp-validation-for="Tracao" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AnoFabricacao" class="control-label"></label>
                <input asp-for="AnoFabricacao" class="form-control" />
                <span asp-validation-for="AnoFabricacao" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="mt-2">
    <a asp-action="Index">Voltar para a lista de carros</a>
</div>
