@model IEnumerable<Circuitos.Models.Carro>

@{
    ViewData["Title"] = "Carros Potentes";
}

<h2>Carros com mais de 300 de potência</h2>

<table class="table">
    <thead>
        <tr>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Potência</th>
            <th>Ano</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Marca</td>
                <td>@item.Modelo</td>
                <td>@item.Potencia</td>
                <td>@item.AnoFabricacao</td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-secondary" asp-action="Index">Voltar</a>